version: '2'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
    volumes:
      - ./<your/database/folder/data>:/var/lib/postgresql/data

  app:
    container_name: plataforma_api
    image: plataforma_api:0.1
    build:
      context: .
      args:
        APPLICATION_ROOT_PATH: <define/your/rails/root>
      dockerfile: ./docker/app/Dockerfile
    command: bundle exec puma -C config/puma.rb
    depends_on:
      - db
    environment:
      PUMA_PORT:
      PLATAFORMA_HOST:
      PLATAFORMA_USERNAME:
      PLATAFORMA_DATABASE:
      PLATAFORMA_PASSWORD:
    volumes:
      - <shared_path>/public:</app_path>/public
      - ./log:<define/your/rails/root>/log
      - assets:<define/your/rails/root>/public/assets

  web:
    container_name: plataforma_web_api
    build:
      context: .
      args:
        APPLICATION_ROOT_PATH: <define/your/rails/root>
      dockerfile: ./docker/web/Dockerfile
    depends_on:
      - app
    ports:
      - 80:80
    volumes:
      - .:<define/your/rails/root>
      - ./log:<define/your/rails/root>/log
      - ./tmp:<define/your/rails/root>/tmp
      - ./public:<define/your/rails/root>/public

  db_development:
    image: postgres
    env_file: .docker-env-dev
    volumes:
      - db-data:/var/lib/postgresql/data
    expose:
      - 5432

  app_development:
    container_name: plataforma_development
    image: development_api:0.1
    env_file: .docker-env-dev
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile.development
    volumes:
      - .:/app
    depends_on:
        - db_development
    ports:
      - "3000:3000"
    links:
      - db_development
    command: rails s

volumes:
  db-data:
    driver: local
  assets:
    external: false