development:
  secret_key_base: <%= ENV['SECRET_KEY_DEV'] %>

test:
  secret_key_base: <%= ENV['SECRET_KEY_TEST'] %>

staging:
  secret_key_base: <%= ENV['SECRET_KEY_STAGING'] %>

production:
  secret_key_base: <%= ENV['SECRET_KEY_PROD'] %>