<legend class="title_content_block <%= content_block.content_type %>_title_content_block">
  <span><%= I18n.t("activerecord.attributes.enums.content_types.#{content_block.content_type}") %></span>
</legend>
<% f.input :id, as: :hidden, input_html: { class: 'activity-content-id'} %>
<% f.input :content_block_id, as: :hidden, input_html: { value: content_block.id } %>
<% f.input :_destroy, as: :hidden, input_html: { class: 'destroy-input' } unless f.object.new_record? %>
