<legend><span>Texto Longo</span></legend>
<%= render 'content_toolbar', f: f %>
<% f.input :id, as: :hidden %>
<% f.input :content_block_id, as: :hidden, input_html: { value: ContentBlock.find_by(content_type: :long_text).id }%>
<% f.input :title %>
<% f.input :body, as: :quill_editor, input_html: {
  data: {
    options: {
      modules: {
        toolbar: f.object.new_record? ? "#toolbar_NEW_RECORD_ID" : "#toolbar_#{f.object.id}"
      },
      formats: [
        'bold',
        'italic',
        'underline',
        'strike',
        'link',
        'blockquote',
        'header',
        'image',
        'list',
        'sub',
        'super',
        'image',
        'video',
        'divider'
      ],
      theme: 'snow'
    }
  }
} %>
<% f.input :_destroy, as: :boolean unless f.object.new_record? %>