<legend><span>Exercícios pré-definidos</span></legend>
<%= render 'content_toolbar', f: f %>
<% content_block = ContentBlock.find_by(content_type: :predefined_exercise)%>
<% f.input :id, as: :hidden %>
<% f.input :content_block_id, as: :hidden, input_html: { value: content_block.id } %>
<% f.input :title, as: :select, required: true, collection: content_block.field_collection(:exercise_type) %>
<% f.input :body, as: :quill_editor, required: true, input_html: {
  data: {
    options: {
      modules: {
        toolbar: f.object.new_record? ? "#toolbar_NEW_RECORD_ID" : "#toolbar_#{f.object.id}"
      },
      formats: [
        'bold',
        'italic',
        'underline',
        'strike',
        'link',
        'blockquote',
        'header',
        'image',
        'list',
        'sub',
        'super',
        'image',
        'video',
        'divider'
      ],
      theme: 'snow'
    }
  }
} %>
<% f.input :icon_url, as: :hidden %>
<% f.input :_destroy, as: :boolean unless f.object.new_record? %>
