<%= render "#{ContentBlock.partials_path}header_fields", f: f, content_block: content_block %>
<%= render 'content_toolbar', f: f %>

<% f.input :body, as: :quill_editor, required: true, label: false, input_html: {
  data: {
    options: {
      modules: {
        imageResize: {
          modules: [ 'Resize', 'DisplaySize', 'Toolbar' ],
          handleStyles: {
              backgroundColor: 'black',
              border: 'none',
              color: '#FFFFFF'
          }
        },
        table: true,
        imageOptions: true,
        toolbar: f.object.new_record? ? "#toolbar_NEW_RECORD_ID" : "#toolbar_#{f.object.id}"
      },
      formats: [
        'bold',
        'italic',
        'underline',
        'strike',
        'link',
        'blockquote',
        'header',
        'image',
        'list',
        'sub',
        'super',
        'image',
        'video',
        'divider',
        'width',
        'script',
        'style',
        'data-caption',
        'list',
        'contain',
        'td',
        'tr',
        'table',
        'tbody'
      ],
      theme: 'snow'
    }
  }
} %>
<li><a class="button remove-activity-content-block" href="#">Remover</a></li>
