<legend><span>+ Adicione Blocos</span></legend>
<%= semantic_form_for activity, :url => admin_activity_sequence_activities_path(activity.activity_sequence), builder: ActiveAdmin::FormBuilder do |new_form| %>
  <% ContentBlock.human_attribute_content_blocks.each do |name, key| %>
    <%= link_to_add_fields("#{name}", new_form, :activity_content_blocks, key) %>
  <% end %>
<% end %>
