<div id="toolbar">
  <span class="ql-formats">
    <button class="ql-bold"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-italic"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-underline"> </button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-strike"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-blockquote" title="Caixa"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-header" value="1"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-header" value="2"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-list" value="ordered"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-list" value="bullet"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-script" value="sub"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-script" value="super"></button>
  </span>

  <span class="ql-formats">
    <select class="ql-header">
       <option value="1">Título 1</option>
       <option value="2">Título 2</option>
       <option value="3">Título 3</option>
       <option value="4">Título 4</option>
       <option selected="selected"></option>
    </select>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-image"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-divider">
      <span id="span-divider">Divisor</span>
    </button>
  </span>
</div>