<% toolbar_id = f.object.new_record? ? "toolbar_NEW_RECORD_ID#{Time.now.to_i}" : "toolbar_#{f.object.id}" %>
<div id="<%= toolbar_id %>" class="<%= "replace-id" if f.object.new_record? %>">
  <span class="ql-formats">
    <button class="ql-bold"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-italic"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-underline"> </button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-strike"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-link"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-blockquote" title="Caixa"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-header" value="1"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-header" value="2"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-list" value="ordered"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-list" value="bullet"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-script" value="sub"></button>
  </span>
  <span class="ql-formats">
    <button class="ql-script" value="super"></button>
  </span>

  <span class="ql-formats">
    <select class="ql-header">
       <option value="1">Título 1</option>
       <option value="2">Título 2</option>
       <option value="3">Título 3</option>
       <option value="4">Título 4</option>
       <option selected="selected"></option>
    </select>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-image"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-video"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-divider">
      <span id="span-divider">Divisor</span>
    </button>
  </span>

  <span class="ql-formats">
    <select class="ql-table">
      <option value="newtable_1_1"></option>
      <option value="newtable_1_2"></option>
      <option value="newtable_1_3"></option>
      <option value="newtable_1_4"></option>
      <option value="newtable_1_5"></option>
      <option value="newtable_2_1"></option>
      <option value="newtable_2_2"></option>
      <option value="newtable_2_3"></option>
      <option value="newtable_2_4"></option>
      <option value="newtable_2_5"></option>
      <option value="newtable_3_1"></option>
      <option value="newtable_3_2"></option>
      <option value="newtable_3_3"></option>
      <option value="newtable_3_4"></option>
      <option value="newtable_3_5"></option>
      <option value="newtable_4_1"></option>
      <option value="newtable_4_2"></option>
      <option value="newtable_4_3"></option>
      <option value="newtable_4_4"></option>
      <option value="newtable_4_5"></option>
      <option value="newtable_5_1"></option>
      <option value="newtable_5_2"></option>
      <option value="newtable_5_3"></option>
      <option value="newtable_5_4"></option>
      <option value="newtable_5_5"></option>
      <option value="newtable_6_1"></option>
      <option value="newtable_6_2"></option>
      <option value="newtable_6_3"></option>
      <option value="newtable_6_4"></option>
      <option value="newtable_6_5"></option>
      <option value="newtable_7_1"></option>
      <option value="newtable_7_2"></option>
      <option value="newtable_7_3"></option>
      <option value="newtable_7_4"></option>
      <option value="newtable_7_5"></option>
      <option value="newtable_8_1"></option>
      <option value="newtable_8_2"></option>
      <option value="newtable_8_3"></option>
      <option value="newtable_8_4"></option>
      <option value="newtable_8_5"></option>
      <option value="newtable_9_1"></option>
      <option value="newtable_9_2"></option>
      <option value="newtable_9_3"></option>
      <option value="newtable_9_4"></option>
      <option value="newtable_9_5"></option>
      <option value="newtable_10_1"></option>
      <option value="newtable_10_2"></option>
      <option value="newtable_10_3"></option>
      <option value="newtable_10_4"></option>
      <option value="newtable_10_5"></option>
    </select>
  </span>
  
  <span class="ql-formats">
    <button type="button" class="ql-table" value="append-row"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-table" value="append-col"></button>
  </span>
</div>