<%= render "#{ContentBlock.partials_path}header_fields", f: f, content_block: content_block %>
<%= render 'content_toolbar', f: f %>

<% f.input :title %>
<% f.input :body, as: :quill_editor, label: false, class: 'bullet-fields', input_html: {
  data: {
    options: {
      modules: {
        toolbar: [['bold', 'italic','underline', 'strike', 'link', 'blockquote', 'list', 'sub', 'super']]
      },
      formats: [
        'bold',
        'italic',
        'underline',
        'strike',
        'link',
        'blockquote',
        'list',
        'sub',
        'super'
      ],
      theme: 'snow'
    }
  }
} %>
<li><a class="button remove-activity-content-block" href="#">Remover</a></li>

<script>
  jQuery(document).ready(function () {
    var qx = jQuery('.bullet .quill-editor');

    qx[0]["_quill-editor"].keyboard.addBinding(
      {key: ' '},
      {collapsed: true, format: {list: false}},
      function(range, context) {
        this.quill.formatLine(range.index, 1, 'list', 'bullet');
        this.quill.insertText(range.index, ' ');
        this.quill.setSelection(range.index + 1);
      }
    );
  });
</script>
